@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* border: 1px solid yellowgreen; */
}

html,
body {
    overflow-x: hidden;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-image: url('../../public/images/white-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 44px;
}

button {
    width: 208px;
    height: 47px;
    background: #1E90FF;
    border-radius: 2px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

/* H2 title */

.blockTitle {
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
    padding: 27px 0 0 27px;
}

.subtitle {
    font-weight: 900;
    font-size: 44px;
    color: #21243D;
    padding: 90px 27px 0 27px;
}

/* separator line */
.line_small {
    border: 1px solid #E0E0E0;
    margin: 0 auto;
    width: 800px;
}

.line {
    border: 1px solid #E0E0E0;
    margin: 0 auto;
    width: 1100px;
}

.icon_footer {
    width: 30px;
    height: 30px;
    color: #21243D;
}

.content {
    width: 1152px;
    margin: 0 auto;
}

.home {
    display: flex;
    padding: 140px 0 70px 0;
    justify-content: space-between;
}

/* features-works styles */

.featured-works {
    padding: 27px;
}

.project-card {
    display: flex;
    padding: 27px;
    gap: 18px;
}

.project-image {
    width: 246px;  
    height: 180px;
}

.project-title {
    font-weight: 700;
    font-size: 30px;
    color: #21243D;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.project-description p {
    color: #21243D;
}

.project-date {
    display: flex;
    gap: 36px;
    align-items: center;
}

.project-year {
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    color: white;
    text-overflow: ellipsis;
    padding: 1px 14px;
}

.project-type {
    font-size: 20px;
    color: #8695A4;
}