.modal {
    position: fixed;
    top: 50%; /* отцентровать по вертикали */
    left: 50%; /* отцентровать по горизонтали */
    transform: translate(-50%, -50%); /* сдвинуть на половину ширины и высоты модального окна */
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255); /* белый полупрозрачный фон */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}